/*
 * Self-hosted, Latin-subset web fonts (spec 005 decision D-07). All three families are open-licensed (SIL OFL; licence files
 * sit next to the font files in src/styles/fonts). font-display: swap keeps text visible with the system fallbacks from tokens.css while they load.
 * Payload: serif regular/bold ~44 KB + sans 400/600 ~48 KB are needed on every screen; the decorative script (~49 KB) is fetched only
 * on screens that render it (and is hidden below 640 px), so the base payload stays under budget.
 * Headings use Lora (serif 400/600/700 + italic); body copy, forms and buttons use Inter (--font-sans).
 */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/lora-latin-400-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/lora-latin-400-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/lora-latin-600-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/lora-latin-700-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/inter-latin-400-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/inter-latin-500-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/inter-latin-600-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/caveat-latin-400-normal.woff2") format("woff2");
}
